<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guguluk.sausozluk" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sausozluk" >
        <activity
            android:name=".activity.TopicListActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EntryListActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_entry_list"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.TopicListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guguluk.sausozluk.activity.TopicListActivity" />
        </activity>
        <activity
            android:name=".activity.Router"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sausozluk.net"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.TopicListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guguluk.sausozluk.activity.TopicListActivity" />
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/action_about"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
        </activity>
    </application>

</manifest>
